html{
    background-image: linear-gradient(to right,white,rgb(130, 130, 238));
}
body{

    display: grid;
    grid-template-columns:1fr 6fr ;
    grid-template-areas:"head head"
                        "aside section"
                        "footer footer" ;
 
}
#image-livre{
    height: 150px;
    width: auto;
    grid-area: image-livre;
}
#head{
    grid-area:head ;
    display: grid;
    grid-template-columns:max-content  ;
    grid-template-areas: "image-livre title"
                          " . toolbar "
                        ;
    margin-bottom: 20px
}
 

#title{
   grid-area: title;
   padding-left: 10%;
}
#toolbar{

    grid-area: toolbar;
    padding-left: 20%;
}
#section{
    grid-area: section;
    display: grid;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 100px;

}
.button{
    border: 1px rgb(117, 145, 238) solid;
    background-color: rgb(98, 144, 230);
    size: 20px;
    padding: 10px ;
    border-radius: 10px;



}
.button:hover{

     background-color: rgb(63, 54, 189);
    color: wheat;
    box-shadow:2px 2px 2px 2px  rgb(133, 3, 219);
}
.button:active{

     box-shadow: inset 3px 3px 3px 3px rgb(70, 206, 176);
}
#footer{
    grid-area: footer;
}
#aside{
    grid-area: aside;
    border-right: blue 1px solid;
    margin-top: 100px;
}
@media(max-width:1600px){
    body{
        grid-template-areas:"head head"
                        "section section"
                        "aside  aside"
                        "footer footer" 
                       ;
    }
}
